* {
  margin: 0;
  padding: 0;
}

:root {
  --accent-blue: #0202f9;
  --accent-pink: #ff3562;
  --accent-yellow: #f7cb15;

  --bg-teal: #84bcda;
  --bg-teal_dark: #067bc2;
  --bg-teal_darkest: #004a8c;

  --bg-red: #c33c54;
  --bg-red_dark: #891026;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  position: relative;
  overflow-wrap: break-word;
  hyphens: auto;
}

section {
  background: #030a10;
}

@import 'jumbo';
@import 'main';
@import 'missions';
@import 'pledge';
@import 'form';
@import 'footer';
